# {{ ansible_managed }}
{% if monit_webinterface_enabled %}
set httpd
  port {{ monit_webinterface_port }}
{% if monit_webinterface_bind is defined %}
  use address {{ monit_webinterface_bind }}
{% endif %}
{% if monit_webinterface_acl_rules is defined %}
{% for rule in monit_webinterface_acl_rules %}
    allow {{ rule }}
{% endfor %}
{% endif %}
{% else %}
# No Webinterface
{% endif %}
